.add-poll {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  transition: background-color 100ms ease-out, fill 100ms ease-out;
  bottom: 0;
  left: 0;
  transform: none;
  width: 100%;
  height: 2.125rem;
  border-radius: 0.625rem;
  max-width: 31.25rem;
  margin: 1rem auto;
  background-color: $veryDarkBlue;
  padding: 0.5rem 1rem;
  border: none;
  box-shadow: none;
  color: $light;
  font-weight: 700;

  svg {
    height: 1.5rem;
    width: 1.5rem;
    fill: $light;
  }

  &:hover {
    background-color: $spaceGrey;
  }
}
