html {
  font-size: 100%;
  box-sizing: border-box;
  background-color: $veryDarkBlue;
  color: $light;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  margin-top: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

// Spacing
.container {
  padding: 0.5rem 1rem;
  max-width: 64rem;
  margin: 0 auto;
}

.panel {
  background-color: $greyishBlue;
  padding: 1rem;
  max-width: 31.25rem;
  border-radius: 0.625rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

// Buttons
.button {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.25rem 0.875rem;
  color: $light;
  transition: color 80ms ease-in-out, background-color 80ms ease-in-out;

  &:hover {
    color: $blue;
  }
}

.button--cta {
  border: 2px solid $blue;
  background-color: $blue;
  border-radius: 3rem;
  color: $light;

  &:hover {
    background-color: transparent;
  }
}

// Inputs
.textarea {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  resize: none;
  width: 100%;
  cursor: text;
  outline: none;

  // Remove placeholder when input selected
  &:focus:empty::before {
    content: "";
  }
}

.question {
  font-size: 1.25rem;

  // Add placeholder if no content in input
  &:empty {
    &::before {
      content: "Enter your question here...";
      color: $lightGrey;
    }
  }
}

//Visibility
.hide-on-mobile {
  @include breakpoint-down(small) {
    display: none !important;
  }
}

.hide-on-desktop {
  @include breakpoint-up(medium) {
    display: none !important;
  }
}
