html {
  font-size: 100%;
  box-sizing: border-box;
  background-color: $veryDarkBlue;
  color: $light;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  margin-top: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

// Spacing
.container {
  padding: 0.5rem 1rem;
  max-width: 64rem;
  margin: 0 auto;
}

.seperator {
  width: 100%;
  height: 1px;
  background-color: $lightGrey;
  display: block;
  margin: 1rem 0;
}

.panel-container {
  margin: 0 auto;
  padding: 1rem;
}

.panel {
  background-color: $greyishBlue;
  padding: 1rem;
  max-width: 31.25rem;
  border-radius: 0.625rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

// Container holding buttons at bottom of poll
.poll-buttons-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
}

.right {
  margin-left: auto;
}

// Buttons
.button {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.25rem 0.875rem;
  color: $light;
  cursor: pointer;
  transition: color 80ms ease-in-out, background-color 80ms ease-in-out;

  &:hover {
    color: $blue;
  }
}

.button--cta {
  border: 2px solid $blue;
  background-color: $blue;
  border-radius: 3rem;
  color: $light;

  &:hover {
    background-color: transparent;
  }
}

.button--add-option {
  cursor: pointer;
  height: 1.714rem;
  width: 1.714rem;
  fill: $light;
  transition: fill 80ms ease-in-out;
  &:hover {
    fill: $blue;
  }
}

// Inputs
.input {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  color: $light;
  background-color: transparent;
  border: none;
  resize: none;
  width: 100%;
  outline: none;
}

.input--question {
  font-size: 1.25rem;
}

.input--option {
  &:not(:first-child) {
    margin-top: 1rem;
  }
}

//Visibility
.hide-on-mobile {
  @include breakpoint-down(small) {
    display: none !important;
  }
}

.hide-on-desktop {
  @include breakpoint-up(medium) {
    display: none !important;
  }
}
