html {
  font-size: 100%;
  box-sizing: border-box;
  background-color: $bg-color;
  color: $snow;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
}
