.header {
  background-color: $darkBlue;

  // Navbar Styling
  nav {
    display: flex;
    align-items: center;
  }

  // Logo Styling
  &__logo {
    margin: 0 auto;
    svg {
      display: block;
      height: 2rem;
      width: 2rem;
      fill: $light;
    }

    // Style logo for desktop
    @include breakpoint-up(medium) {
      margin: 0;
    }
  }

  // Hamburger Styling
  &__hamburger {
    display: block;
    position: absolute;
    width: 1.5rem;
    height: 0.75rem;
    transform-origin: center;

    > span {
      display: block;
      position: absolute;
      height: 0.125rem;
      border-radius: 0.625rem;
      width: 100%;
      background-color: $light;
      transition: all 200ms ease-in-out;
    }

    > .hamburger--top {
      top: 0;
    }

    > .hamburger--bottom {
      bottom: 0;
    }

    &.header__hamburger--open {
      > span {
        transition: all 200ms ease-in-out;

        &.hamburger--top {
          top: calc(50% - 0.0625rem);
          transform: rotate(45deg);
        }

        &.hamburger--bottom {
          bottom: calc(50% - 0.0625rem);
          transform: rotate(-45deg);
        }
      }
    }
  }

  // Desktop header link styles
  &__links {
    margin-left: auto;

    :nth-child(2) {
      margin-right: 0.75rem;
    }
  }

  // Hamburger menu div styling
  &__menu {
    position: fixed;
    left: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 3rem;
    bottom: 0;
    right: 100%;
    padding: 0 1rem;
    background-color: $darkBlue;
    z-index: 100;
    transition: all 250ms ease-in-out;

    > a {
      margin-top: 1rem;
    }

    &.hamburger--open {
      left: 0;
      right: 0;
    }
  }
}
