.poll-result-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;

  .poll-result {
    position: relative;
    display: flex;
    align-items: center;
    background-color: $veryDarkBlue;
    border-radius: 0.3rem 1rem 1rem 0.3rem;

    &__bar {
      display: flex;
      align-items: center;
      height: 100%;
      background-color: $blue;
      padding-left: 0.5rem;
      border-radius: 0.3rem 1rem 1rem 0.3rem;
      transition: width 180ms ease-in-out;
    }

    &__option {
      margin: 0.5rem 0;
      white-space: nowrap;
      font-weight: 700;
    }

    &__percentage {
      position: absolute;
      right: 0;
      padding-right: 0.5rem;
      font-size: 0.875rem;
      font-weight: 300;
    }
  }

  .poll-votes {
    align-self: flex-end;
    margin-top: 0.125rem;
    padding-right: 0.5rem;
    font-size: 0.875rem;
    font-weight: 300;
  }
}
