html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #14191f;
  color: #fef8fa;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  margin-top: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 0.5rem 1rem;
  max-width: 64rem;
  margin: 0 auto;
}

.seperator {
  width: 100%;
  height: 1px;
  background-color: #3a3d44;
  display: block;
  margin: 1rem 0;
}

.panel-container {
  margin: 0 auto;
  padding: 0 1rem;
}

.panel {
  background-color: #1e2229;
  padding: 1rem;
  max-width: 31.25rem;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 1rem auto;
}

.poll-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 1rem;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
}

.button {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.25rem 0.875rem;
  color: #fef8fa;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: color 80ms ease-in-out, background-color 80ms ease-in-out;
  transition: color 80ms ease-in-out, background-color 80ms ease-in-out;
}

.button:hover {
  color: #589cec;
}

.button--cta {
  border: 2px solid #589cec;
  background-color: #589cec;
  border-radius: 3rem;
  color: #fef8fa;
}

.button--cta:hover {
  background-color: transparent;
}

.button--option-list {
  cursor: pointer;
  height: 1.714rem;
  width: 1.714rem;
  margin-right: 1rem;
  fill: #fef8fa;
  -webkit-transition: fill 80ms ease-in-out, fill 150ms ease-in-out;
  transition: fill 80ms ease-in-out, fill 150ms ease-in-out;
}

.button--option-list:hover {
  fill: #589cec;
}

.button--option-list.disabled {
  fill: #5c5d63;
  cursor: default;
}

.input {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  color: #fef8fa;
  background-color: transparent;
  border: none;
  border-left: 3px solid transparent;
  resize: none;
  width: 100%;
  padding-left: 0rem;
  outline: none;
  -webkit-transition: border-left 50ms ease-out, padding-left 50ms ease-out;
  transition: border-left 50ms ease-out, padding-left 50ms ease-out;
}

.input:focus {
  border-left-color: #589cec;
  padding-left: 0.5rem;
}

.input.invalid {
  border-left-color: #ed5a5a;
  padding-left: 0.5rem;
}

.input::-webkit-input-placeholder {
  -webkit-user-select: none;
          user-select: none;
}

.input:-ms-input-placeholder {
  -ms-user-select: none;
      user-select: none;
}

.input::-ms-input-placeholder {
  -ms-user-select: none;
      user-select: none;
}

.input::placeholder {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.input--question {
  font-size: 1.25rem;
}

.input--option {
  margin-bottom: 1rem;
}

.input--option:last-of-type {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

@media (max-width: 39.9375em) {
  .hide-on-mobile {
    display: none !important;
  }
}

@media (min-width: 40em) {
  .hide-on-desktop {
    display: none !important;
  }
}

.header {
  background-color: #111f2d;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin: 0 auto;
}

.header__logo svg {
  display: block;
  height: 2rem;
  width: 2rem;
  fill: #fef8fa;
}

@media (min-width: 40em) {
  .header__logo {
    margin: 0;
  }
}

.header__hamburger {
  display: block;
  position: absolute;
  width: 1.5rem;
  height: 0.75rem;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.header__hamburger > span {
  display: block;
  position: absolute;
  height: 0.125rem;
  border-radius: 0.625rem;
  width: 100%;
  background-color: #fef8fa;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.header__hamburger > .hamburger--top {
  top: 0;
}

.header__hamburger > .hamburger--bottom {
  bottom: 0;
}

.header__hamburger.header__hamburger--open > span {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.header__hamburger.header__hamburger--open > span.hamburger--top {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__hamburger.header__hamburger--open > span.hamburger--bottom {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__links {
  margin-left: auto;
}

.header__links :nth-child(2) {
  margin-right: 0.75rem;
}

.header__menu {
  position: fixed;
  left: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 3rem;
  bottom: 0;
  right: 100%;
  padding: 0 1rem;
  background-color: #111f2d;
  z-index: 100;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.header__menu > a {
  margin-top: 1rem;
}

.header__menu.hamburger--open {
  left: 0;
  right: 0;
}

.add-poll {
  position: fixed;
  background-color: #589cec;
  height: 2rem;
  width: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.75);
          box-shadow: 0 8px 12px rgba(0, 0, 0, 0.75);
  bottom: 0;
  left: 50%;
  margin-bottom: 1rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 2px solid #589cec;
  cursor: pointer;
  -webkit-transition: background-color 100ms ease-out, fill 100ms ease-out;
  transition: background-color 100ms ease-out, fill 100ms ease-out;
}

.add-poll svg {
  height: 1.714rem;
  width: 1.714rem;
  fill: #fef8fa;
  -webkit-transition: -webkit-transform 100ms ease-in;
  transition: -webkit-transform 100ms ease-in;
  transition: transform 100ms ease-in;
  transition: transform 100ms ease-in, -webkit-transform 100ms ease-in;
}

.add-poll:hover, .add-poll.active {
  background-color: #14191f;
}

.add-poll:hover svg, .add-poll.active svg {
  fill: #589cec;
}

.add-poll.active svg {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (min-width: 40em) {
  .add-poll {
    position: relative;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    bottom: 0;
    left: 0;
    -webkit-transform: none;
            transform: none;
    width: 100%;
    height: 2.125rem;
    border-radius: 0.625rem;
    max-width: 31.25rem;
    margin: 1rem auto;
    background-color: #14191f;
    padding: 0.5rem 1rem;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #fef8fa;
    font-weight: 700;
  }
  .add-poll svg {
    height: 1.5rem;
    width: 1.5rem;
  }
  .add-poll:hover, .add-poll.active {
    background-color: #41434a;
  }
  .add-poll:hover svg, .add-poll.active svg {
    fill: #fef8fa;
    -webkit-transform: none;
            transform: none;
  }
  .add-poll.active {
    display: none;
  }
}

.question {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  color: #fef8fa;
  border-left: 3px solid transparent;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}

.option {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  color: #fef8fa;
  border-left: 3px solid transparent;
  width: 100%;
  cursor: pointer;
  margin-left: 0.5rem;
}

.option__radio {
  margin: 0;
  height: 1rem;
  width: 1.0415rem;
  padding: 0;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0.125rem solid #fef8fa;
  border-radius: 100%;
}

.option__radio::after {
  content: "";
  display: block;
  border-radius: 50%;
  border: 0.125rem solid transparent;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.option__radio:hover::after {
  border-color: #1e2229;
  background-color: #fef8fa;
}

.option__radio:checked, .option__radio:focus {
  border-color: #589cec;
  outline: none;
}

.option__radio:checked::after, .option__radio:focus::after {
  border-color: #1e2229;
  background-color: #fef8fa;
}

.option__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.poll-result {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #14191f;
  border-radius: 0.3rem 1rem 1rem 0.3rem;
  margin-bottom: 0.5rem;
}

.poll-result__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: #589cec;
  padding-left: 0.5rem;
  border-radius: 0.3rem 1rem 1rem 0.3rem;
  -webkit-transition: width 180ms ease-in-out;
  transition: width 180ms ease-in-out;
}

.poll-result__option {
  margin: 0.5rem 0;
  white-space: nowrap;
  font-weight: 700;
}

.poll-result__percentage {
  position: absolute;
  right: 0;
  padding-right: 0.5rem;
  font-size: 0.875rem;
  font-weight: 300;
}
/*# sourceMappingURL=index.css.map */